* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    background-color: black;
    display: block;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.startButton {
    height: 40px;
    width: fit-content;
    border-radius: 5px;
    border: 2px solid #a43d18;
    background-color: #ffa400;
    color: #ffde01;
    font-size: 20px;
    transition: all 250ms ease;
}

.startButton:hover{
    transform: scale(1.05);
    transition: all 250ms ease;
    cursor: pointer;
}

.relativeDiv {
    position: relative;
}

#buttonsFromStart{
    width: 100%;
    position: absolute;
    top: 24px;
    display: flex;
    justify-content: space-around;
}

.controllsOverlay{
    background: rgba(0, 0, 0, 0.7);
    height: 300px;
    width: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.keybindsButton{
    height: 64px;
    width: 64px;
    object-fit: contain;
}

/* Smartphones---- */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones---- */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100%;
    }

    h1 {
        display: none;
    }
}